mixin head(pageTitle)
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="manifest", href="/site.webmanifest")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#ffffff")

  link(href='https://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet')
  link(href='/css/normalize-min.css', rel='stylesheet', type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')

  <!-- Google tag (gtag.js) -->
  script(src="https://www.googletagmanager.com/gtag/js?id=G-KLL7KGZHY2", async='true')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-KLL7KGZHY2');

  title 
    |Morite Birdwatching: 
    =pageTitle


mixin link(href, name)
  a(href=href)&attributes(attributes)= name

mixin hamburger
  #hamburger
    button.js-menu.menu(type = "button")
      span.bar
    nav
      ul
        li 
          +link('#birds', 'Birds')
        li 
          +link('#tours', 'Tours')
        li
          +link('#team', 'Team')
        li
          +link('#contact', 'Contact')

      
mixin navigation
  nav.nav-top
    a.logo(href='#') Morite Birdwatching
    +link('#contact', 'Contact')
    +link('#team', 'Team')
    +link('#tours', 'Tours')
    +link('#birds', 'Birds')

mixin navigation-home
  nav.nav-top
    a.logo(href='index.html') Morite Birdwatching
    +link('index.html#contact', 'Contact')
    +link('index.html#team', 'Team')
    +link('index.html#tours', 'Tours')
    +link('index.html#birds', 'Birds')

mixin coverFlow
  #cover-items
    .cover-item(class='slide1')
    .cover-item(class='slide2')
    .cover-item(class='slide3')
    .cover-item(class='slide4')
      video(id="bgvid", playsinline, muted, loop)
        source(src="images/hero/cockatoo/md/baby-feed.mp4", type="video/mp4")
    - var n = 4
    while n < 12
      - n++
      .cover-item(class='slide'+n)
    - n = 0
  #cover-grips
    <div class="cover-grip">
      .previous
      .next
      .info Our guides will help you to see wild Seram Cockatoos
    while n < 11
      - n++
      </div><div class="cover-grip"><div class="previous"></div><div class="next"></div>
    </div>
mixin slider
  - var n = 0
  .slider.auto-show
    while n < 12
      - n++
      .slide(class = n > 1 ? 'lazyload' : '')
        .slide-cropper
          .slide-background(class='slide'+n)

mixin footer
  footer
    nav
      -//+link('javascript:$(\'#main\').scrollTop(0);', 'Top')
      +link('#main', 'Top')

mixin main-js
  script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
  script(src='/js/smoothscroll-min.js')
  -//script(src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js')
  -//script(src='/js/carousel-min.js')
  script(src='/js/viewportchecker-min.js')
  script(src='/js/utils-min.js')

  script(type='text/javascript')
    include inline2.js
    
  .
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.14.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.14.2/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

mixin tour-picture(url, alt)
  img(src='images/services/'+url, width='450', height='300', alt=alt)

mixin tour(title, size, duration, pictures)
  .tour
    .tour-title= title
    .tour-picture
      .gallery
        each picture in pictures
          +tour-picture(picture)
    .tour-description
      if block
        block
      else
        p No content
      p
        if size
          |Group size: 
          =size
          br
        if duration
          |Duration: 
          =duration


mixin tour-nature-walks
  +tour('Guided Nature Walks', 'No limit', '3 - 6 hours', ['walks/jungle-walk.jpg', 'walks/2837200843_d605f0b9f4_o.jpg','walks/2837324099_9618887ca9_o.jpg','walks/IMG_9920.jpg','walks/R0016007.jpg'])
    p.
      We will take you for a walk between villages where we will point out local flora, fauna and the villagers’ age-old farming techniques. Bring your binoculars as we are very likely to see birds along the way. Trips can be tailored to your specific interests and energy level.

mixin tour-kambali-bebas
  +tour('Visit to the Bird Rehabilitation Center (Kambali Bebas)', '', '1 hour', ['kambali-bekas/IMG_1160.jpg','kambali-bekas/_Q5A3005.jpg','kambali-bekas/_Q5A3009.jpg','kambali-bekas/_Q5A3015.jpg','kambali-bekas/_Q5A3024.jpg','kambali-bekas/_Q5A3094.jpg','kambali-bekas/_Q5A3100.jpg'])
    p.
      The Rehabilitation Center is a must-see for all bird lovers visiting the area. It houses parrots caught in the wild and recovered from the illegal pet trade. Birds which are deemed healthy enough and capable of surviving in the wild are relesed back into the jungle areas they came from.

mixin tour-viewing-platforms
  +tour('Vist to Viewing Platforms', 'up to 20 people' , '1 - 3 hours', ['viewing-platforms/20171028_165240.jpg','viewing-platforms/20171028_165122.jpg','viewing-platforms/viewing-platform.jpg'])
    p.
     Above the village of Masihulan are two viewing platforms sourounded by parrots’ nests. It’s a steep 15 minute hike up from the main road, but once you’re there the view is spectacular.

mixin tour-canopy-platform-trips
  +tour('Canopy Platform Trips', 'up to 10 people', 'Several hours to overnight', ['canopy-platform-trips/IMG_2918.jpg','canopy-platform-trips/2838228186_c98768c564_o.jpg','canopy-platform-trips/_Q5A7023.jpg','canopy-platform-trips/IMG_5740.jpg','canopy-platform-trips/IMG_3167.jpg','canopy-platform-trips/2821196152_7e3c4c92b5_o.jpg','canopy-platform-trips/2837183795_20097d5b7e_o.jpg','canopy-platform-trips/2838055094_4f66aee101_o.jpg','canopy-platform-trips/R0016811.jpg'])
    p.
      Sleep in a tree. Wake up before dawn to watch the neighboring parrots begin their day by stretching and preening.

mixin tour-api-lima
  +tour('Api Lima', 'up to 6 people', '2 days', ['api-lima/R0015611.jpg','api-lima/IMG_1340.jpg','api-lima/2837302547_3c94b02bfb_o.jpg','api-lima/IMG_2757.jpg','api-lima/IMG_2886.jpg','api-lima/R0015672.jpg','api-lima/R0015706.jpg','api-lima/R0015973.jpg'])
    p.
      This shallow cave offers a high lookout over the forest canopy. It’s a two to three hour hike from the quary where the road ends. This high cave is a great place to relax and view Cockatoos, Lories, and Hornbills without having to climb up to the tree platforms.

mixin tour-custom-tree-platforms
  +tour('Custom Tree Platforms', 'Small', '3 - 5 days', ['custom-platforms/custom-platform.jpg','custom-platforms/IMG_1428.jpg','custom-platforms/IMG_1437.jpg','custom-platforms/20171028_165240.jpg','custom-platforms/_Q5A4034.jpg','custom-platforms/IMG_1448.jpg'])
    p.
      If there’s a specific bird you would like to see, our guides can try to locate them and build a conceiled platform for you near their sleeping trees or feeding spots.

mixin tour-trekking
  +tour('Trekking Across Seram', 'up to 6 people', '7 days', ['trekking/R0016157.jpg','trekking/R0016168.jpg','trekking/R0016172.jpg','trekking/R0016403.jpg','trekking/R0016185.jpg','trekking/R0016283.jpg','trekking/R0016341.jpg','trekking/R0016342.jpg','trekking/R0016373.jpg','trekking/R0016386.jpg','trekking/IMG_3063.jpg','trekking/R0016399.jpg','trekking/R0016432.jpg','trekking/R0016433.jpg','trekking/R0016595.jpg','trekking/R0016624.jpg','trekking/R0016734.jpg','trekking/R0016736.jpg'])
    p.
      This is a very strenious hike which requires a number of porters to carry your food as well as things to barter on your way through the Manusella National Park. For the first four days you’ll be staying in villages enjoying the warm hospitality of their chiefs. The last two or three nights on the way down from the village of Manusella to the southern coast, you’ll sleep in caves cut into the rock face.

mixin tour-buano
  +tour('Ambon, Buano, Seram', '', '9 days', [])
    h4 Day 1
    p Arrive at Patimura Airport. 
    p Pick up the car at the airport and go straight to the ferry port in Liang village (hunimua) and go to the port of Waipirit village on Seram Island. 
    p Continue the journey to the capital of the western part of Seram Regency, Piru City (SBB) to spend the night there (Amboina Hotel) and arrive at our respective hotels, look at the rooms and put our luggage after that we go to the restaurant to eat and after that we will leave for spot that We aimed to fill the remaining travel time from Ambon City. We could do a little of our time before birding along the road from Piru City across the road to the council office to the road to Hua Nausea. 
    p To see birds
    ul
      li callared kingfisher
      li lazuly king fisher
      li oriental hobby
      li red flanked lorikeet
      li sacred kingfisher
      li Australian hobby
      li Rufous neked sparrowhawk
    p And other types that have not yet been identified. 
    p And return to the hotel at 6 pm to rest until tomorrow morning.

    h4 Day 2
    p At 5 am we will depart from Piru City (Amboina Hotel) to Masika Jaya Village to cross by longboat to Buano Island. The journey from Piru City to Masika Jaya takes more than 1 hour and from Masika to Buano takes more than 2 hours. 
    p And there we had to report to the village head and had to pay donations every time we carried out birding activities not only in Buano but in all the villages where we carried out activities. 
    p And in Buano we do birding until 4 o'clock, we will return to Masika and continue to Piru town to spend the night (Amboina Hotel) and rest until morning. 

    p Types of birds that can be seen on Buano include:
    ul
      li buano monarch
      li moluccan monarch
      li beac kingfisher
      li white bellied fish eagle
      li secret kingfisher
    p 

    h4 Day 3
    p At 5 am after breakfast we traveled to Mornateng village from Piru town (Amboina hotel) to do a little birding time along the way. 
    p And when we stopped in Mornateng village for a few hours to see one of the endemic birds of Seram Island which is spread throughout Seram Island but its population has been greatly reduced, namely. 
    ul
      li cockatoo crested salmon
      li red lory
      li red flanked lorikeet
    p And after that we continued our journey to Labuan Island 7
    p And there we stayed at a home stay on the island. 
    p And we crossed to the island by longboat. 
    p And we rested
    p Until tomorrow morning. 
    p And for participants who want to stay in an open area. 
    p Each must have a doom tent. 
    p And a mattress. 

    h4 Day 4
    p After breakfast at 5 am we left the island where we lived and headed to another island to see the bluebirds on another island and returned to the island where we lived for lunch. 
    p And after lunch we did a little bording around this island until 3 in the afternoon we departed from 7 Islands to go to Seram Island. The distance from Seram Island to 7 Islands is more than 1 hour. 
    p And we will continue our journey to the bird paradise village of Seram Island, namely in Masihulan. and continue to Sawai to stay in a floating accommodation on sea water. 

    h4 Day 5
    p 5 am is the normal time to go out on a birding trip to community land or Manusela National Park. 
    p Masihulan has 129 species of animals of which 17 species are endemic species which are very rarely found anywhere else on Seram Island. 
    p Among others, such as. 
    ul
      li cockatoo crested salmon
      li purple napped lory
      li southern cassowary
      li spooky priarbird
      li spooky mountain pigeon
      li red lory
      li blue eared lory
      li spooky oriole
      li spooky white eye
      li binaia heleia
      li cinnamon chested flycatcher
      li spooky honeyeater
      li long-crested myna
      li streak breasted fantail
      li scary plower fecker
      li kingfisher lazuli
      li scary thrush. 
    p And today we did bording on community land along the road from the place where we were staying to the villager's area of ​​Masihulan village. And returned to the inn for lunch at 12 o'clock, after that at room 3, we returned to the birding place until 6 o'clock in the afternoon. 

    h4 Day 6
    p At 5 o'clock after finishing breakfast we went on a birding trip to community land to Manusela National Park. 
    p And we were able to get to a certain place by car and the car stopped and we walked slowly while the car followed us from behind. 
    p And our target today is also the birds in the Masihulan area, of which there are 129 species and 17 are endemic. 
    p And we returned to the accommodation at 12 o'clock for lunch and rested until 3 o'clock when we returned to the birding location until 6 o'clock in the afternoon. 

    h4 Day 7
    p Day 7 slightly different time and route
    p With animal targets according to the guests’ wishes. 
    p Depart at 5 am, return for lunch at 12 o'clock and rest until 3 o'clock and continue again until 6 o'clock in the afternoon, return to the accommodation and rest. 

    h4 Day 8
    p At 7 am we departed from the floating accommodation (Oa Nain) towards Masohi town. And along the way to Masohi we were able to stop briefly for birding. 
    p And when we arrive in Masohi City we will stay 1 night in Masoho City for a night trip around the villages of Masohi City, Makariki, Waipia, Liang to see birds.
    p * scary masked owl. 
    p And we left the hotel to our target at around 7 pm
    p And come back at 11 pm and rest. 

    h4 Day 9
    p At 6 am we had to have breakfast because we left Seram for Ambon Island at 9 am. 
    p And we will end our tour on Seram Island and we will return to Ambon city and can rest for 1 night in Ambon city to prepare for the flight back to your country.

mixin team-member(name, title, active)
  .team-slide(class = active ? 'active' : '')
    figure
      div
        div
      figcaption
        h2= name
        if title
          p= title
